@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'GaramondRegular';
  src: url('fonts/EBGaramondRegular.ttf')  format('truetype');
}
@font-face {
  font-family: 'GaramondBold';
  src: url('fonts/EBGaramondBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'UniversCondensed';
  src: url('fonts/UniversCondensed.ttf')  format('truetype');
}
@font-face {
  font-family: 'UniversCondensedBold';
  src: url('fonts/UniversCondensedBold.ttf')  format('truetype');
}
@media(max-width: 1100px) {
  .content {
    max-width: 400px;
    width: 85%;
  }
  .logo {
  width: 400px !important;
  height: 174px !important;
}
.key {
  width: 70px !important;
  max-width: 70px !important;
  height: 48px !important;
}
body:before, body:active {
  background: radial-gradient(circle 10vmax at var(--pointerX) var(--pointerY), rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.7) 100%) !important;
}
}
body {
 background: url(images/background.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: #000;
}
body:before {
  content: '';
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle 10vmax at var(--pointerX) var(--pointerY), rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.95) 100%);
}
.content {
    width: 500px;
    height: 128px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.logo {
  width: 500px;
  height: 200px;
  background-image: url('images/logo.svg');
  background-repeat: no-repeat;
}
.key {
  width: 80px;
  max-width: 80px;
  height: 41px;
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 3;
}
a.fill-div {
    display: block;
    max-width: 40px;
    text-decoration: none;
}
.navigation-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  //justify-content: space-evenly; 
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  text-align: center;
  padding-bottom: 10px;
}
.navigation-container2 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  //justify-content: space-evenly; 
  margin: auto;
  margin-top: -53px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.space-between {
  justify-content: space-between;
}
.nav {
  font-family: UniversCondensedBold;
  font-size: 11pt;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  padding-left: auto;
  padding-right: auto;
  line-height: 1em;
  object-fit: contain;
  text-decoration: none;
  text-transform: uppercase;
}
.nav:link, .nav:visited {
  text-decoration: none;
}
.nav:hover {
  color: #fff;
  text-decoration: underline #fff 1px solid;
  text-underline-offset: 3px;
  cursor: pointer;
}
.email {
  font-family: UniversCondensedBold;
  font-size: 11pt;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  padding-left: auto;
  padding-right: auto;
  line-height: 1em;
  object-fit: contain;
  text-decoration: none;
  text-transform: uppercase;
}
a:link, a:visited {
  text-decoration: none;
}
:root {
  --pointerX: 50vw;
  --pointerY: 50vh;
}