@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'GaramondRegular';
  src: url('fonts/EBGaramondRegular.ttf')  format('truetype');
}
@font-face {
  font-family: 'GaramondBold';
  src: url('fonts/EBGaramondBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'UniversCondensed';
  src: url('fonts/UniversCondensed.ttf')  format('truetype');
}
@font-face {
  font-family: 'UniversCondensedBold';
  src: url('fonts/UniversCondensedBold.ttf')  format('truetype');
}
@media(max-width: 1100px) {
  .content {
    width: 85%;
    max-width: 400px;
  }
    .logo {
    width: 300px;
    height: 120px;
    background-size: contain;
    background-position: center;
  } 
.key {
  width: 70px !important;
  max-width: 70px !important;
  height: 48px !important;
}
}
body {
 background: url(https://media.istockphoto.com/id/476116580/photo/sycamore-tree-in-summer-field-at-sunset-england-uk.jpg?s=1024x1024&w=is&k=20&c=EWTo2iZxyGXOZ_aF9UUJ8UgYQD5uG2rs5hFSi9jnJXk=) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: #000;
touch-action: none;
overflow: hidden;
}
body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background : rgba(0, 0, 0, .95);
  pointer-events: none;
  z-index: 1;
}
body.flashlight-active::before {
  background: radial-gradient(
    circle 10vmax at var(--pointerX) var(--pointerY),
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0.95) 100%
  );
}
.content {
  width: 500px;
  height: 128px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 2;
}
.logo {
  width: 100%;
  height: auto;
  aspect-ratio: 5 / 2;
  background-image: url('images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  margin-top: -37px;
}
.key {
  width: 80px;
  max-width: 80px;
  height: 41px;
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 3;
}
a.fill-div {
    display: block;
    max-width: 40px;
    text-decoration: none;
}
.navigation-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  //justify-content: space-evenly; 
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  text-align: center;
  padding-bottom: 10px;
}
.navigation-container2 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  //justify-content: space-evenly; 
  margin: auto;
  margin-top: -23px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.space-between {
  justify-content: space-between;
}
.nav {
  font-family: UniversCondensedBold;
  font-size: 11pt;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  padding-left: auto;
  padding-right: auto;
  line-height: 1em;
  object-fit: contain;
  text-decoration: none;
  text-transform: uppercase;
}
.nav:link, .nav:visited {
  text-decoration: none;
}
.nav:hover {
  color: #fff;
  text-decoration: underline #fff 1px solid;
  text-underline-offset: 3px;
  cursor: pointer;
}
#email {
  font-family: UniversCondensedBold;
  font-size: 11pt;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  padding-left: auto;
  padding-right: auto;
  line-height: 1em;
  object-fit: contain;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
#email:hover {
  text-decoration: underline;
}
#copy-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  font-family: UniversCondensedBold;
  text-transform: uppercase;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#copy-notification.show {
  opacity: 1;
  pointer-events: auto;
}
a:link, a:visited {
  text-decoration: none;
}
:root {
  --pointerX: 50vw;
  --pointerY: 50vh;
}